# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# VSCode
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Mac
*.DS_Store

# Log files
*.log
